#header,
.module h2, .module caption, .inline-group h2
a:link, a:visited{
    background: #78909c ;
    color: #78909c;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}
div.breadcrumbs {
    background: #494955;
}